@charset "euc-kr";
/* typography */
@font-face{
    font-family:'NS Korean';font-style:normal;font-weight:400;
    src:url(http://script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.eot),
        url(http://script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype');
    src:local('Noto Sans DemiLight'),local('NotoSans-DemiLight'), 
        url(http://script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.woff) format('woff'),
        url(http://script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.otf) format('opentype');
} 
@font-face{
    font-family:'NS Korean';font-style:normal;font-weight:bold;
    src:url(http://script.ebay.co.kr/fonts/NotoSansKR-Bold-Hestia.eot),
        url(http://script.ebay.co.kr/fonts/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype');
    src:local('Noto Sans Bold'),local('NotoSans-Bold'),	
        url(http://script.ebay.co.kr/fonts/NotoSansKR-Bold-Hestia.woff) format('woff'),
        url(http://script.ebay.co.kr/fonts/NotoSansKR-Bold-Hestia.otf) format('opentype');
}
/* 옥션 쿠폰 UI용 커스텀 산돌고딕 시네마 */
@font-face{
    font-family:'SDCinemaTheater';font-style:normal;font-weight:bold;
    src:url(http://script.ebay.co.kr/fonts/[lite]SDCinemaTheater-subset.eot),
        url(http://script.ebay.co.kr/fonts/[lite]SDCinemaTheater-subset.eot?#iefix) format('embedded-opentype');
    src:local('SDCinemaTheater'),
        url(http://script.ebay.co.kr/fonts/[lite]SDCinemaTheater-subset.woff) format('woff'),
        url(http://script.ebay.co.kr/fonts/[lite]SDCinemaTheater-subset.otf) format('opentype'),
        url(http://script.ebay.co.kr/fonts/[lite]SDCinemaTheater-subset.ttf);
}
img{color:transparent}
body, html{margin:0;padding:0;-webkit-text-size-adjust:none;}
ul,ol,li{list-style:none}
div, p, strong, a, ul, li, button,em, img, label, input{margin:0;padding:0}
.module_wrap a{cursor:default}
.module_wrap a:link,.module_wrap a:visited,.module_wrap a:active,.module_wrap a:hover{color:#676767; text-decoration:none}
.module_wrap a[href]:link,.module_wrap a[href]:visited,.module_wrap a[href]:active,.module_wrap a[href]:hover{cursor:pointer}
.module_wrap a:hover span, .module_wrap a:hover, .module_wrap a:hover strong{text-decoration:none}
.module_wrap a:focus{outline:none}



.module_wrap{position:relative;min-width:980px;font-family:font-family:"맑은 고딕", Roboto, Droid Sans, Helvetica, AppleSDGothicNeo, 'Apple SD 산돌고딕 Neo', Apple-Gothic, '애플고딕', 'Tahoma', 'dotum', '돋움', 'gulim', '굴림', sans-serif; !important;font-size:initial;line-height:initial;letter-spacing:-1px}
.module_wrap img{max-width:none;border:0;vertical-align:top}
.module_wrap .caroufredsel_wrapper{cursor:auto !important}
.module_wrap .owl-carousel{display:block}

.module{overflow:hidden;position:relative;background-color:#fff;color:#222}
.module.bg_black{background-color:#1c1f23;color:#fff}
.module.bg_gray{background-color:#f7f8fa;color:#222}
.module.bg_dgray{background-color:#e9e9eb;color:#222}
.module .section{overflow:hidden;position:relative;width:980px;margin:0 auto; /*padding-bottom: 10px;*/}



/* 상품 리스트 */
.module_item{/*padding:53px 0 40px;*/ background:transparent !important;}
.module_item.bg_gray, .module_item.bg_dgray{background:#e6e6e6}
.ie_low .module_item{padding:51px 0 38px}
.ie_7 .module_item{padding:51px 0 38px}
.module_item .head_tit{padding:0 0 30px;font-size:30px;font-weight:bold;line-height:40px;color:#222;text-align:center}
.ie_low .module_item .head_tit{letter-spacing:-2px}
.module_item .head_tit span{display:inline-block;border-bottom:3px solid #222;line-height:38px}
.msie .module_item .head_tit span{padding-bottom:1px}
.ie_low .module_item .head_tit span{padding-bottom:3px}
.module_item .products-list{overflow:hidden;width:1216px;/*margin:0 auto -16px*/ margin-left:-14 !important; margin-top:-14px !important;}
.module_item .elements_item {float:left;width:474px;/*margin:14px*/}
.module_item .elements_item .inner{overflow:hidden;position:relative;width:592px;background:#fff}
.module_item .elements_item .inner .blank_border{display:none}
.module_item .elements_item:after{display:block;content:"";clear: both}
.module_item .elements_item .label_soldout{position:absolute;top:50%;left:50%;z-index:1;width:112px;height:112px;margin:-56px 0 0 -56px;background:url(http://pics.auction.co.kr/pc/hanbando/sprite-front.png) no-repeat 0 -1000px;font-size:0;line-height:0}
.module_item .elements_item .label_adult{position:absolute;top:50%;left:50%;z-index:1;width:112px;height:112px;margin:-56px 0 0 -56px;background:url(http://pics.auction.co.kr/pc/hanbando/sprite-front.png) no-repeat -250px -1000px;font-size:0;line-height:0}
.module_item .elements_item .adult_box{display:block;width:100%;height:100%;background:#f5f5f5}
.module_item .elements_item .adult_box .mask{opacity:0;filter:alpha(opacity:'0')}
.module_item .elements_img{float:left;position:relative;/*width:200px;*//*height:200px*/}
.module_item .elements_img a .mask{display:block;position:absolute;top:0;left:0;z-index:1;content:'';width:100%;height:100%;background-color:#000;opacity:0.02;filter:alpha(opacity:'2')}
.module_item .elements_img a{display:block;/*height:100%*/ width:100%;}
.module_item .elements_img a img{width:100%;height:100%}
.module_item .elements_img .noimg{display:block;width:100%;height:100%;background:url(http://pics.auction.co.kr/pc/hanbando/common/200_noimg.gif) no-repeat center center}
.module_item .elements_info{overflow:hidden;position:relative;height:173px;background-color:#fff;padding:27px 20px 0 23px}
.ie_low .module_item .elements_info{height:177px;padding-top:23px}
.module_item .elements_item .title{display:block;overflow:hidden;position:relative;z-index:1;height:48px;margin-right:80px;margin-bottom:10px;font-size:18px;color:#222;line-height:23px;text-decoration:none;word-break:break-all}
.module_item .elements_item .price{overflow:hidden;margin-bottom:11px;line-height:30px;color:#222}
.module_item .elements_item .price li{float:left;margin-right:4px}
.module_item .elements_item .price .discount{margin-top:-1px;font-size:26px;font-weight:bold;color:#e63740}
.module_item .elements_item .price .selling{font-size:20px;vertical-align:top}
.module_item .elements_item .price .selling strong{margin-right:1px;font-size:26px;line-height:18px;vertical-align:-1px}
.ie_low .module_item .elements_item .price .selling strong{vertical-align:-2px}
.module_item .elements_item .price .origin{font-size:18px;color:#999;line-height:30px}
.module_item .elements_item .price .origin del{display:block}
.ie_low .module_item .elements_item .price .origin del{display:block;margin-top:3px}
.module_item .elements_item.joinprd .price .selling span{font-size:24px}
.module_item .elements_item .delivery{overflow:hidden;position:absolute;left:0;right:0;bottom:0;height:18px;margin:0;border-top:1px solid #f5f5f5;padding:11px 0 11px 23px}
.module_item .elements_item .delivery span{font-size:14px;color:#666;line-height:18px;vertical-align:top;white-space:nowrap}
.module_item .elements_item .shop_info{position:absolute;right:21px;bottom:0;z-index:50;height:18px;padding:12px 0 10px}
.module_item .elements_item .shop_info a{margin-right:14px;font-size:14px;color:#666;line-height:18px;vertical-align:top;text-decoration:none}
.module_item .elements_item .shop_info .ico_logo{display:none}
.module_item .elements_item .shop_info .ico_arr{position:absolute;top:11px;right:0;width:7px;height:18px;background:url(http://pics.auction.co.kr/pc/hanbando/sprite-front.png) no-repeat 0 -58px}
.module_item .elements_item .add-info{font-size:15px;color:#666;line-height:18px}
.module_item .elements_item .add-info .num{color:#2e8de5;letter-spacing:0}
.ie_low .module_item .elements_item .add-info .num{vertical-align:-1px}
.module_item .elements_item .btn_wish{position:absolute;z-index:1;top:20px;right:25px;width:40px;height:40px;background:url(http://pics.auction.co.kr/pc/hanbando/sprite-front.png) no-repeat 0 -110px;text-indent:-9999px}
.module_item .elements_item .btn_wish.active{background-position:-41px -110px}
.module_item .button_wrap{margin-top:20px;text-align:center}
.module_item .btn_more{position:relative;width:344px;height:40px;padding:11px 0 9px;background:none;font-size:17px;line-height:20px;letter-spacing:-1px}
.module_item .btn_more .ico_arr_down{display:inline-block;width:13px;height:9px;margin-left:7px;background:url(http://pics.auction.co.kr/pc/hanbando/sprite-front.png) no-repeat -154px -134px}
.ie_7 .module_item .btn_more .ico_arr_down{margin-top:9px;vertical-align:middle}

/* 상품 리스트 : gallery */
.filter_view-change_gallery .products-list{width:1212px;margin-bottom:-13px; }
.filter_view-change_gallery .elements_item {width:222px;margin:14px 28px 28px 0; border: 1px #e6e6e6 solid;}
.filter_view-change_gallery .elements_item .inner{width:222px}
.filter_view-change_gallery .elements_item .label_soldout{width:176px;height:178px;margin:-89px 0 0 -88px;background-position:0 -818px}
.filter_view-change_gallery .elements_item .label_adult{width:176px;height:178px;margin:-89px 0 0 -88px;background-position:-250px -818px}
.filter_view-change_gallery .elements_img{float:none;width:222px;height:222px}
.filter_view-change_gallery .elements_img .noimg{background-image:url(http://pics.auction.co.kr/pc/hanbando/common/290_noimg.gif)}
.filter_view-change_gallery .elements_info{position:relative;height:186px;padding:14px 20px 0 12px}
.ie_low .filter_view-change_gallery .elements_info{height:187px}
.filter_view-change_gallery .elements_item .title{margin-right:0px;margin-bottom:11px;line-height:24px}
.ie_low .filter_view-change_gallery .elements_item .title{height:48px;margin-bottom:11px}
.filter_view-change_gallery .elements_item .price{margin:0 0 9px}
.ie_low .filter_view-change_gallery .elements_item .price{margin-bottom:7px}
.filter_view-change_gallery .elements_item .price li{float:left;margin-right:3px}
.filter_view-change_gallery .elements_item .price .discount{margin-top:-2px;font-size:22px;line-height:24px}
.ie_low .filter_view-change_gallery .elements_item .price .discount{margin-top:0}
.filter_view-change_gallery .elements_item .price .selling{font-size:17px;line-height:24px}
.ie_7 .filter_view-change_gallery .elements_item .price .selling{line-height:26px}
.filter_view-change_gallery .elements_item .price .selling strong{font-size:22px}
.filter_view-change_gallery .elements_item .price .origin{clear:both;float:none;font-size:17px;line-height:20px}
.ie_low .filter_view-change_gallery .elements_item .price .origin{line-height:26px}
.ie_7 .filter_view-change_gallery .elements_item .price .origin{margin-top:-8px}
.filter_view-change_gallery .elements_item.joinprd .price .selling span{font-size:22px}
.filter_view-change_gallery .elements_item .add-info{margin-bottom:10px;font-size:16px;line-height:18px}
.filter_view-change_gallery .elements_item .delivery{padding:10px 0 10px 12px}
.filter_view-change_gallery .elements_item .btn_wish{top:10px;right:9px}



/* 상품 리스트 : deal */
.filter_view-change_deal .products-list{width:1008px;}
.filter_view-change_deal .elements_item{margin-bottom:14px; margin-left:14px;}
.filter_view-change_deal .elements_item .inner{width:474px;/*box-shadow:0 1px 3px rgba(0,0,0,0.08)*/ border:1px solid #f5f5f5}
.filter_view-change_deal .elements_item .label_soldout{width:204px;height:206px;margin:-103px 0 0 -102px;background-position:0 -608px}
.filter_view-change_deal .elements_item .label_adult{width:204px;height:206px;margin:-103px 0 0 -102px;background-position:-250px -608px}
.filter_view-change_deal .elements_img{float:none;width:100%;}
.filter_view-change_deal .elements_img .noimg{background-image:url(http://pics.auction.co.kr/pc/hanbando/common/590_noimg.gif)}
.filter_view-change_deal .elements_info{position:relative;height:130px;padding:8px 20px 0 19px}
.ie_low .filter_view-change_deal .elements_info{height:127px}
.filter_view-change_deal .elements_item .title{height:33px;margin-right:0px;margin-bottom:8px;font-size:22px;line-height:25px}
.filter_view-change_deal .elements_item .price{height:30px}
.filter_view-change_deal .elements_item .price .discount{margin-right:5px;font-size:30px;line-height:30px}
.ie_7 .filter_view-change_deal .elements_item .price .discount{line-height:35px}
.filter_view-change_deal .elements_item .price .selling{margin-right:7px;font-size:22px;line-height:1}
.ie_7 .filter_view-change_deal .elements_item .price .selling{line-height:26px}
.filter_view-change_deal .elements_item .price .selling strong{font-size:30px;line-height:29px}
.ie_7 .filter_view-change_deal .elements_item .price .selling strong{vertical-align:-3px}
.filter_view-change_deal .elements_item .price .origin{margin-top:3px;font-size:21px;line-height:30px}
.filter_view-change_deal .elements_item.joinprd .price .selling span{font-size:26px}
.filter_view-change_deal .elements_item .delivery{height:20px;padding:14px 0 12px 19px}
.filter_view-change_deal .elements_item .delivery span{font-size:16px}
.filter_view-change_deal .elements_item .add-info{position:absolute;bottom:0;right:0;left:0;height:20px;margin-left:11px;padding:0 0 12px;font-size:16px}
.ie_7 .filter_view-change_deal .elements_item .add-info span:first-child{line-height:22px;vertical-align:0}
.filter_view-change_deal .elements_item .add-info span:first-child{display:inline-block;padding-left:11px;background:url(http://pics.auction.co.kr/pc/hanbando/sprite-front.png) no-repeat -274px -152px;font-size:16px;vertical-align:top}
.filter_view-change_deal .elements_item .btn_wish{top:11px;right:13px}
.filter_view-change_deal .elements_img > a:hover + .option_wrap{display:block}
.filter_view-change_deal .elements_img .option_wrap{display:none;position:absolute;right:0;bottom:0;left:0;height:36px}
.filter_view-change_deal .elements_img .option_wrap:hover{display:block}
.filter_view-change_deal .elements_img .option_wrap a{position:absolute;bottom:0;z-index:20;height:18px;padding:8px 0 10px;font-size:15px;color:#fff;text-align:center;text-decoration:none}
.filter_view-change_deal .elements_img .option_wrap a.opt1{left:0;width:294px}
.filter_view-change_deal .elements_img .option_wrap a.opt2{right:0;width:293px}
.filter_view-change_deal .elements_img .option_wrap a span{position:relative;z-index:5}
.filter_view-change_deal .elements_img .option_wrap a span.bg{position:absolute;top:0;left:0;z-index:1;width:100%;height:36px;background:#222;opacity:.7;filter:alpha(opacity:'70')}

.finish, .soldout{position: absolute; top:0; width:100%; z-index: 10}